{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">A Little More About Me.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am an 80s baby. Also a Sagittarius. I was born in Queens, New York City, but spent most of
          my childhood growing up in Port-au-Prince, Haiti. The most perfect place I have ever known.
          I moved to the New York the day Prince Diana died, August 31, 1997. The rest is history.
        </p>
        <p>
          Most of my life was spent in New York. I now life in Charlotte, North Carolina with my family.
          I am a proud father to the most amazing human being I've ever known, my son, Carter.
        </p>
        <p>
          I am also an introvert with extroverted tendencies. I love music. I love animals. I love sports.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
